<div class="container-fluid">
    <h2 class="text-center">Add Your Quote!!</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="row">
            <div class="col">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Name..." name='name' [(ngModel)]="quote.name"
                    required>
            </div>
            <div class="col">
                <label for="name">Author</label>
                <input type="text" class="form-control" placeholder="Author..." id="author" [(ngModel)]="quote.author"
                    name="author" required>
            </div>
            <div class="form-group">

                <label for="description">Quote</label>
                <textarea class="form-control" id="description" rows="4" placeholder="Quote..." required id="quote"
                    [(ngModel)]="quote.quote" name="quote"></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Submit Quote</button>
        </div>
    </form>
</div>